/* Variables */
:root {
    --accent: #0e7490;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --rose-700: #be123c;
    --slate-50: #f8fafc;
    --slate-200: #e2e8f0;
    --slate-800: #1e293b;
}

/* Utility Classes */
.icon {
    position: relative;
    margin-top: 0.3rem;
}

/* Universal Styles */

body {
    color: var(--slate-800);
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

h1 {
    font-size: 1.65rem;
    font-weight: normal;
}

/* Header Styles */

header {
    background-color: var(--slate-50);
    border-bottom: 1px solid var(--slate-200);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
}

nav {
    margin-top: 2rem;
}

ul {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

svg {
    width: 1.5rem;
}

li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

li:last-of-type {
    margin: 0.1rem;
}

span {
    background-color: var(--rose-700);
    border-radius: 100%;
    padding: 0 0.4em;
    font-size: 0.85rem;
    color: var(--slate-50);
    text-align: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul a:hover {
    color: var(--accent);
}

/* Media Query */
@media screen and (min-width: 960px) {
    header>div {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        max-width: 1080px;
    }

    ul {
        flex-direction: row;
        gap: 2.5rem;
    }

    nav {
        margin: 0;
    }
}